<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Флаг часов -->
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:label="Pixelka AI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Библиотека Wear OS -->
        <uses-library android:name="com.google.android.wearable" android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- 🔥 ВОТ ЭТА СТРОКА ЛЕЧИТ ОШИБКУ v1 EMBEDDING 🔥 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>